* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-top {
  width: 960px;
  margin: 0 auto;
  padding-top: 50px;
}

.main-top p:nth-child(odd) {
  background-color: rgba(189, 184, 184, 0.5);
  padding: 20px;
}

.main-top p:nth-child(even) {
  padding: 20px;
}

.box-wrapper {
  width: 960px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box-size {
  height: 200px;
  width: 30%;
  background-color: yellow;
}

.box-wrapper div:nth-child(4n-3) {
  background-color: orange;
}

.box-wrapper div:nth-child(3n-1) {
  margin: 0 5%;
}

.box-wrapper div:nth-child(n + 4):nth-child(-n + 6) {
  margin-top: 40px;
  margin-bottom: 40px;
}
